In [1]:
# data science
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

# API
import requests
import json

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func

import sqlite3
import pandas as pd

In [2]:
# Read data from CSV into a DataFrame
df = pd.read_csv('resources/clean_park_data.csv')

In [3]:
df.head()

,title,park,date,rating,cc,latitude,longitude,datayear,day,address,community,geocode_address,datamonth
0,Lego Movie,Austin-Foster Playlot Park,2014-08-08T03:00:00Z,PG,No,41.975941,-87.778908,2014,Fri,"6020 W Foster Ave Chicago, IL 60630",JEFFERSON PARK,"6020 W Foster Ave Chicago, IL 60630",8
1,The Smurfs 2,Brooks Park,2014-07-19T03:00:00Z,PG,No,42.010281,-87.806686,2014,Sat,"7100 N Harlem Ave Chicago, IL 60631",EDISON PARK,"7100 N Harlem Ave Chicago, IL 60631",7
2,Delivery Man,Dunham Park,2014-06-14T04:00:00Z,PG-13,No,41.965981,-87.781975,2014,Sat,4638 N. Melvina Ave. Chicago IL 60630,PORTAGE PARK,4638 N. Melvina Ave. Chicago IL 60630,6
3,A League of Their Own,Edgebrook Park,2014-06-08T02:45:00Z,PG,No,41.999466,-87.762024,2014,Sun,6525 N. Hiawatha Ave. Chicago IL 60646,FOREST GLEN,6525 N. Hiawatha Ave. Chicago IL 60646,6
4,Lego Movie,Olympia Park,2014-06-21T03:00:00Z,PG,No,41.999702,-87.814987,2014,Sat,6566 N. Avondale Ave. Chicago IL 60631,EDISON PARK,6566 N. Avondale Ave. Chicago IL 60631,6

In [4]:
engine = create_engine('sqlite:///CLEAN_PARK_DATA.sqlite')

In [5]:
df.to_sql('showings', engine, index=False, if_exists='replace')

1096

In [6]:
# INSPECT to confirm existence

# Create the inspector and connect it to the engine
inspector_gadget = inspect(engine)

# Collect the names of tables within the database
tables = inspector_gadget.get_table_names()

# print metadata for each table
for table in tables:
    print(table)
    print("-----------")
    
    # get columns
    columns = inspector_gadget.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])

    print()

showings
-----------
title TEXT
park TEXT
date TEXT
rating TEXT
cc TEXT
latitude FLOAT
longitude FLOAT
datayear BIGINT
day TEXT
address TEXT
community TEXT
geocode_address TEXT
datamonth BIGINT

In [7]:
# close the engine
engine.dispose()

In [8]:
#map filters "