In [2]:
# data science
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

# API
import requests
import json

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func

In [3]:
# reads in data from csv
file_path = "./resources/park_data_raw.csv"
raw_df = pd.read_csv(file_path)

In [4]:
# Brings back entries that are NOT home films
df = raw_df[raw_df.title != "@home"]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1373 entries, 7 to 1379
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    1370 non-null   object
 1   park                     1373 non-null   object
 2   date                     1135 non-null   object
 3   phone                    1372 non-null   object
 4   rating                   1356 non-null   object
 5   cc                       1223 non-null   object
 6   location.latitude        1336 non-null   float64
 7   location.longitude       1336 non-null   float64
 8   location.human_address2  1169 non-null   object
 9   datayear                 1373 non-null   int64
 10  day                      1135 non-null   object
 11  park_address             647 non-null    object
 12  address                  1371 non-null   object
 13  city                     1366 non-null   object
 14  state                    1366 non-null   object
 15  zip                      484 non-null    float64
 16  community                1373 non-null   object
 17  geocode_address          1371 non-null   object
 18  lat                      1352 non-null   float64
 19  long                     1352 non-null   float64
 20  osm_type                 1352 non-null   object
 21  display_name             1352 non-null   object
 22  class                    1352 non-null   object
 23  type                     1352 non-null   object
 24  communitiy               1373 non-null   object
 25  community_match          1373 non-null   object
dtypes: float64(5), int64(1), object(20)
memory usage: 289.6+ KB

In [5]:
# Drops rows missing data in necessary columns
df2 = df.dropna(how="any", subset=["community", "location.latitude", "location.longitude", "title", "address", "date", "rating"])
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1096 entries, 7 to 1379
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    1096 non-null   object
 1   park                     1096 non-null   object
 2   date                     1096 non-null   object
 3   phone                    1096 non-null   object
 4   rating                   1096 non-null   object
 5   cc                       1007 non-null   object
 6   location.latitude        1096 non-null   float64
 7   location.longitude       1096 non-null   float64
 8   location.human_address2  893 non-null    object
 9   datayear                 1096 non-null   int64
 10  day                      1096 non-null   object
 11  park_address             624 non-null    object
 12  address                  1096 non-null   object
 13  city                     1089 non-null   object
 14  state                    1089 non-null   object
 15  zip                      470 non-null    float64
 16  community                1096 non-null   object
 17  geocode_address          1096 non-null   object
 18  lat                      1078 non-null   float64
 19  long                     1078 non-null   float64
 20  osm_type                 1078 non-null   object
 21  display_name             1078 non-null   object
 22  class                    1078 non-null   object
 23  type                     1078 non-null   object
 24  communitiy               1096 non-null   object
 25  community_match          1096 non-null   object
dtypes: float64(5), int64(1), object(20)
memory usage: 231.2+ KB

In [6]:
# drops unneccesary columns
df3 = df2.drop(columns=["phone", "zip", "park_address", "class", "type", "osm_type", "lat",
                        "long", "state", "city", "display_name", "location.human_address2"])
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1096 entries, 7 to 1379
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               1096 non-null   object
 1   park                1096 non-null   object
 2   date                1096 non-null   object
 3   rating              1096 non-null   object
 4   cc                  1007 non-null   object
 5   location.latitude   1096 non-null   float64
 6   location.longitude  1096 non-null   float64
 7   datayear            1096 non-null   int64
 8   day                 1096 non-null   object
 9   address             1096 non-null   object
 10  community           1096 non-null   object
 11  geocode_address     1096 non-null   object
 12  communitiy          1096 non-null   object
 13  community_match     1096 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 128.4+ KB

In [7]:
# Cleans cells
df4 = df3.replace({
    # Inconsistent Format
    "Y": "Yes", 
    "N": "No",
    None: "No",
    # Title Correction
    "Wizard of Oz": "The Wizard of Oz",
    "ET": "E.T. The Extra-Terrestrial",
    "X-Man: Days of Future Past": "X-Men: Days of Future Past",
    "Monster University": "Monsters University",
    # Title Spacing
    "E. T. : The Extra-Terrestrial": "E.T. The Extra-Terrestrial",
    "E. T. the Extra-Terrestrial": "E.T. The Extra-Terrestrial",
    "The Wiz ": "The Wiz",
    "Gravity ": "Gravity",
    "Fat Albert ": "Fat Albert",
    "Ferris Bueller's Day Off ": "Ferris Bueller's Day Off",
    "The Smurfs 2 ": "The Smurfs 2",
    "Teenage Mutant Ninja Turtles (1990) ": "Teenage Mutant Ninja Turtles (1990)",
    "Chicago ": "Chicago",
    "No Good Deed ": "No Good Deed"
    })

In [8]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1096 entries, 7 to 1379
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               1096 non-null   object
 1   park                1096 non-null   object
 2   date                1096 non-null   object
 3   rating              1096 non-null   object
 4   cc                  1096 non-null   object
 5   location.latitude   1096 non-null   float64
 6   location.longitude  1096 non-null   float64
 7   datayear            1096 non-null   int64
 8   day                 1096 non-null   object
 9   address             1096 non-null   object
 10  community           1096 non-null   object
 11  geocode_address     1096 non-null   object
 12  communitiy          1096 non-null   object
 13  community_match     1096 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 128.4+ KB

In [9]:
df4.title.unique()

array(['Lego Movie', 'The Smurfs 2', 'Delivery Man',
       'A League of Their Own', 'Frozen', 'Monsters University',
       'The Nut Job', 'Free Birds', 'Hairspray', 'The Wizard of Oz',
       'The Muppet Movie', 'Annie',
       'Willy Wonka and the Chocolate Factory', 'Brave',
       'The Perfect Game', 'Newsies', 'Saving Mr. Banks', 'Ironman 3',
       'Gremlins', "It's a Mad, Mad, Mad, Mad World", 'Gravity',
       'Avengers', 'The Blues Brothers', 'The Lego Movie',
       'Despicable Me 2', 'Superman', 'The Family That Preys',
       'E.T. The Extra-Terrestrial', 'To Kill a Mockingbird', '42',
       'Drumline', 'Ride Along', "Singin' in the Rain",
       'Willy Wonka & the Chocolate Factory', 'Back to the Future',
       'Man of Steel', 'The Help', 'Rudy', 'Star Trek: Into Darkness',
       'Dirty Dancing', 'The Bachelor and the Bobby Soxer',
       'Strangers on a Train', 'The Thin Man', 'Fireproof ',
       'Instructions Not Included', 'Mandela: Long Walk to Freedom',
       'Justin Bieber: Never Say Never', 'Beasts of the Southern Wild',
       'Jumanji', 'Buck and the Preacher',
       'Latino Film Festival Selection', 'Ghostbusters',
       'The Princess Bride', "Ferris Bueller's Day Off",
       "Michael Jackson's This is It", 'Mr. Peabody & Sherman',
       'True Grit', 'The Triplets of Belleville',
       "Lee Daniels' The Butler", 'Hotel Transylvania',
       'Twenty Feet From Stardom', 'Fat Albert', 'The Goonies',
       'The Hunger Games: Catching Fire', 'Fast & Furious 6',
       'Sixteen Candles', 'Cloudy with a Chance of Meatballs 2',
       'Indiana Jones and the Temple of Doom', 'High Anxiety',
       'On the Waterfront', 'Cloudy With a Chance of Meatballs 2',
       'The Benchwarmers', 'Happy Feet', 'The Amazing Spider-Man',
       'Moonrise Kingdom', 'Groundhog Day', 'The Book Thief ',
       'Anna Karenina (1935)', 'Space Jam', 'Rebel Without a Cause',
       'Jaws', 'Roll Bounce', 'Journey 2: The Mysterious Island',
       'The Fantastic Mr. Fox', 'Big Fish', 'The Monuments Men',
       'The Hunger Games', 'Captain Phillips', 'The Little Rascals',
       'Life of Pi', 'How to Train Your Dragon', 'Patang',
       'The Blind Side', 'Chicago', 'As Good As It Gets',
       'Stomp the Yard', "Dr. Suess' The Lorax", 'Are We There Yet?',
       'Gypsy', 'Return to Me', 'Rookie of the Year',
       'The Great Gatsby (2013)', 'Stanley Ka Dabba', 'Turbo', 'The Wiz',
       'Car Wash', 'Claudine', "Michael Jackson's This Is It", 'Epic',
       'The Croods', 'Jurassic Park', 'Independence Day',
       'The Hunt for Red October', 'The Sandlot', 'Dr. Strangelove',
       'Roman Holiday', 'The Final Cut', 'Ferngully: The Last Rainforest',
       'Sparkle (1976)', 'Maleficent', 'Rio 2', 'Who Framed Roger Rabbit',
       'McFarland USA', 'The Avengers',
       'Captain America: The Winter Soldier', 'Annie (2014)',
       'The Incredibles', "Bill and Ted's Excellent Adventure",
       'Dead Poets Society', 'Back to the Future Part II', 'Tommy Boy',
       'Finding Nemo', 'The Karate Kid (2010)', 'Guardians of the Galaxy',
       'Frozen Sing-A-Long', 'Grease', 'Insurgent', 'Big Hero 6',
       'Angels in the Outfield',
       'Night at the Museum: Secret of the Tomb',
       'The Hobbit: The Battle of the Five Armies',
       'Dawn of the Planet of the Apes', 'Dolphin Tale 2', 'Dreamgirls',
       'Teenage Mutant Ninja Turtles (2014)', 'Clue', 'Hook',
       "Tyler Perry's A Madea Christmas", 'Grease [sing-a-long]',
       'Paddington', 'Footloose', 'A Latino Film Festival Selection',
       'Alexander and the Terrible, Horrible, No Good, Very Bad Day',
       "A Bug's Life", 'Mamma Mia', 'Toy Story',
       "Dr. Seuss' How the Grinch Stole Christmas", 'Selma',
       'X-Men: Days of Future Past', 'Sister Act',
       'The Princess and the Frog', 'Get On Up', 'UP', 'Strange Magic',
       'The Boxtrolls', 'How to Train Your Dragon 2', 'The Fugitive',
       'Anchorman: The Legend of Ron Burgundy', 'Stage Door',
       'St. Vincent', 'Over the Hedge', 'Left Behind',
       "Looney Tunes Collection (Corny Concerto, Foney Fables, Hollywood Steps Out, Little Red Riding Rabbit, Rabbit of Seville, Rocket Bye Baby, Bugs' Bonnets)",
       'The Social Network', "Wayne's World",
       'Mr. Smith Goes to Washington', 'The Single Moms Club',
       'Once Upon a Time ... When We Were Colored', 'Dumb & Dumber To',
       'When the Game Stands Tall', 'Despicable Me', 'The Mighty Macs',
       'Casablanca', 'The Pacifier', 'Much Ado About Nothing (2012)',
       'Teen Wolf', 'Spare Parts', 'Homeward Bound', 'Step Up All In',
       'Seven Brides for Seven Brothers', 'Into the Woods',
       'The Pink Panther', 'No Good Deed', 'Edward Scissorhands',
       'Amazing Spider Man', 'Night at the Museum ',
       'Honey, I Shrunk the Kids', 'Teenage Mutant Ninja Turtles (1990)',
       'Unbroken', 'Dial M for Murder', 'The Sandlot 2', 'The Giver',
       "Pete's Dragon", 'The Secret Life of Pets', 'Central Intelligence',
       'Queen of Katwe', 'Trolls', 'Moana', 'La La Land',
       'An American in Paris', 'Vengo Volviendo/Here and There',
       'X-Men: Apocalypse', 'The LEGO Batman Movie', 'Fences',
       'Finding Dory', 'Sing', 'Close Encounters of the Third Kind',
       'Rogue One', 'National Treasure', 'Ghostbusters (2016)',
       'August Rush', 'Barber Shop: The Next Cut',
       "Tyler Perry's Boo: A Madea Halloween", 'Los Fabulosos Ma Mejores',
       'Race', 'The Peanuts Movie',
       'Yo soy un Politico/I am a Politicion', 'The Angry Birds Movie',
       'Hidden Figures', 'Fantastic Beasts and Where to Find Them',
       'Mrs. Doubtfire', 'Zootopia', 'North by Northwest',
       'Chicago Onscreen Local Film Showcase', "Madea's Tough Love",
       'Captain America', 'Southside With You', 'Raising Arizona',
       'The Little Mermaid', 'Romeo + Juliet', 'City Slickers', 'Hop',
       'Lean On Me', 'The Wicker Man', 'Top Gun', 'Hotel Transylvania 2',
       'The Dark Knight', 'I Am Not Your Negro', 'Big', 'A Cat in Paris',
       'Moonstruck', 'Independence Day: Resurgence', 'Drop Dead Fred',
       'The Magnificent Seven (2016)',
       'Como en el Cine/Like in the Movies', 'Raiders of the Lost Ark',
       'Power Rangers', 'Sully', 'Top Hat', 'The BFG', 'Kung Fu Panda 3',
       'Gone in 60 Seconds', 'Wall-E', 'Captain America: Civil War',
       'Almost Christmas', 'Airplane!', 'Field of Dreams', 'Arrival',
       'April and the Extraordinary World', 'A Monster in Paris',
       'The Manchurian Candidate', 'The Jungle Book', 'Pride & Prejudice',
       'Ice Age: Collision Course', 'Ice Age', 'Ovni/UFO', 'Tomboy',
       'Young Frankenstein', 'Monster Trucks',
       'Beach Blanket Bingo (with Long Haired Hare)',
       'Star Wars: The Last Jedi', 'Wonder Woman',
       'Jumanji: Welcome to the Jungle', 'Coco', 'An American Tail',
       'Black Panther', 'Despicable Me 3', 'Red Tails', 'Wonder',
       'What About Bob?', 'Home Team (Mi Mundial)', 'Justice League',
       'Ghost', 'Under the Same Moon (La Misma Luna)', 'Marshall',
       'Beauty and the Beast Sing-Along', 'Cars 3',
       'Bread and Tulips (Pane e Tulipani)', 'The Emoji Movie',
       'Inside Out', "Tyler Perry's Boo",
       'Looking for a Boyfriend … For My Wife / Se busca novio … para mi mujer',
       'Guardians of the Galaxy Vol. 2',
       "The King and the Mockingbird (L Roi et L'Oiseau)",
       'Southern Winds / Vientos del Sur', 'The Chorus (Les Choristes)',
       'Spider-Man: Homecoming', 'Roman J. Israel, Esq.',
       'Spark: A Space Tail', 'The Greatest Showman',
       'War for the Planet of the Apes', 'Looney Tunes Cartoon Pack #4',
       'Yogi Bear', 'The Boss Baby', 'Selena', 'Beauty and the Beast',
       'The Notebook', 'Sherlock Gnomes', 'Little Big League',
       'Bringing Up Baby', 'Ferdinand',
       'Help Me Make it Through the Night / Ayudame a pasar la noche',
       'The Post', 'Captain Underpants: The First Epic Movie',
       'A Raisin in the Sun', "A Dog's Purpose", 'The Color Purple',
       'The Associate',
       "Elevator to the Gallows (Ascenseur pour l'Echafaud)", 'Minions',
       'Monsters, Inc.', "Love Songs (Les Chansons d'Amour)",
       'Broche de Oro: Beginnings / Broche de Oro: Comienzos',
       'Home Alone', 'Thor: Ragnarok', 'Babe', 'Mary Poppins',
       'Rear Window', 'Sense and Sensibility',
       'Looking for a Boyfriend … for My Wife / Se busca novio … para mi mujer',
       'Paddington 2', 'Italo Barocco', 'The Martian', 'Some Like It Hot',
       'The 39 Steps', 'Goosebumps 2', 'Crazy Rich Asians',
       'Adventures in Babysitting', 'Stardust', 'Great Outdoors',
       'Creed II', 'Ghostbusters (1984)', 'Night School', 'Freedom Song',
       'Aquaman', 'Spider-Man: Into the Spider-Verse',
       'The Rugrats Movie (1998)',
       'To Wong Foo, Thanks for Everything, Julie Newmar',
       'Alice in Wonderland', 'Smallfoot', 'Ralph Breaks the Internet',
       'The LEGO Movie 2', 'French Cancan', 'Mary Poppins Returns',
       'Cabaret', 'Jurassic World: Fallen Kingdom',
       'The House with a Clock in its Walls', 'Galaxy Quest',
       'That Thing You Do!', 'Bumble Bee',
       'Breathless / A Bout De Souffle', 'The Incredibles 2', 'Leap!',
       'Yankee Doodle Dandy', 'Bee Movie', 'Peter Rabbit', 'La Bolduc',
       "The Gazelle's Dance / El Baile de la Gacela",
       'Les Miserables (1998)', 'Napoleon Dynamite', 'Dunkirk',
       'Isle of Dogs', 'Cars (2006)', 'The 400 Blows',
       'Not Quite Adults / Tampoco Tan Grandes', 'Goonies',
       'Little Shop of Horrors (1986)', 'Ant-Man and the Wasp',
       'The Grinch', 'The Sting', 'El Reality', 'Hotel Transylvania 3',
       'The Rainmaker', 'Come Drink With Me', 'Captain Marvel',
       'Muppets Take Manhattan', 'Tesoros', 'Jane Eyre (2011)',
       'A Wrinkle in Time', 'Green Book',
       'What I Feel for You / Lo Que Siento Por Ti', 'Creed (2015)',
       'Avengers: Infinity War', 'Meet Me In St. Louis',
       'Footloose (1984)', 'Teen Titans Go! To The Movies',
       'Cloudy With a Chance of Meatballs', 'Rampage',
       'Bohemian Rhapsody', "A Dog's Way Home", 'Trinity Goodheart',
       'Moulin Rouge', 'The Star', 'First Man', 'After School Cartoons',
       'Robin Hood'], dtype=object)

In [10]:
# Here is where we get the month
df5 = df4.date.str.split(pat="-", expand=True)
df5

         0   1             2
7     2014  08  08T03:00:00Z
8     2014  07  19T03:00:00Z
9     2014  06  14T04:00:00Z
10    2014  06  08T02:45:00Z
11    2014  06  21T03:00:00Z
...    ...  ..           ...
1375  2019  08  24T05:00:00Z
1376  2019  08  24T05:00:00Z
1377  2019  08  26T05:00:00Z
1378  2019  09  07T05:00:00Z
1379  2019  09  09T05:00:00Z

[1096 rows x 3 columns]

In [11]:
# renaming columns
df5 = df5.rename(columns={
    0: "trash1",
    1: "datamonth",
    2: "trash2"
})
df6 = df5.drop(columns=["trash1", "trash2"])
# merge dataframes
df4 = df4.join(df6)

In [12]:
# last column drop
df4 = df4.drop(columns=["communitiy", "community_match"])
df4

,title,park,date,rating,cc,location.latitude,location.longitude,datayear,day,address,community,geocode_address,datamonth
7,Lego Movie,Austin-Foster Playlot Park,2014-08-08T03:00:00Z,PG,No,41.975941,-87.778908,2014,Fri,"6020 W Foster Ave Chicago, IL 60630",JEFFERSON PARK,"6020 W Foster Ave Chicago, IL 60630",08
8,The Smurfs 2,Brooks Park,2014-07-19T03:00:00Z,PG,No,42.010281,-87.806686,2014,Sat,"7100 N Harlem Ave Chicago, IL 60631",EDISON PARK,"7100 N Harlem Ave Chicago, IL 60631",07
9,Delivery Man,Dunham Park,2014-06-14T04:00:00Z,PG-13,No,41.965981,-87.781975,2014,Sat,4638 N. Melvina Ave. Chicago IL 60630,PORTAGE PARK,4638 N. Melvina Ave. Chicago IL 60630,06
10,A League of Their Own,Edgebrook Park,2014-06-08T02:45:00Z,PG,No,41.999466,-87.762024,2014,Sun,6525 N. Hiawatha Ave. Chicago IL 60646,FOREST GLEN,6525 N. Hiawatha Ave. Chicago IL 60646,06
11,Lego Movie,Olympia Park,2014-06-21T03:00:00Z,PG,No,41.999702,-87.814987,2014,Sat,6566 N. Avondale Ave. Chicago IL 60631,EDISON PARK,6566 N. Avondale Ave. Chicago IL 60631,06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1375,Aquaman,Euclid Park,2019-08-24T05:00:00Z,PG-13,Yes,41.716042,-87.637148,2019,Sat,9800 S. Parnell Ave.,WASHINGTON HEIGHTS,"9800 S. Parnell Ave., Chicago, IL",08
1376,The Wizard of Oz,Oz Park,2019-08-24T05:00:00Z,G,Yes,41.918901,-87.647178,2019,Sat,2021 N. Burling St.,LINCOLN PARK,"2021 N. Burling St., Chicago, IL",08
1377,The Wiz,South Shore Cultural Center,2019-08-26T05:00:00Z,G,Yes,41.766603,-87.566324,2019,Mon,7059 S. South Shore Drive,SOUTH SHORE,"7059 S. South Shore Drive, Chicago, IL",08
1378,After School Cartoons,Buttercup Playlot Park,2019-09-07T05:00:00Z,NR,No,41.971669,-87.654739,2019,Sat,4901 N. Sheridan Rd.,UPTOWN,"4901 N. Sheridan Rd., Chicago, IL",09
1379,Robin Hood,South Shore Cultural Center,2019-09-09T05:00:00Z,PG-13,Yes,41.766603,-87.566324,2019,Mon,7059 S. South Shore Drive,SOUTH SHORE,"7059 S. South Shore Drive, Chicago, IL",09

In [15]:
df4 = df4.rename(columns={
    "location.latitude": "latitude",
    "location.longitude": "longitude"
})

In [16]:
df4.to_csv("resources/clean_park_data.csv", index=False)