In [1]:
# data science
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

# API
import requests
import json

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func

In [2]:
 # Create engine using the `CLEAN_PARK_DATA.sqlite` database file
engine = create_engine("sqlite:///CLEAN_PARK_DATA.sqlite")

In [3]:
# INSPECT to confirm existence

# Create the inspector and connect it to the engine
inspector = inspect(engine)

# Collect the names of tables within the database
tables = inspector.get_table_names()

# print metadata for each table
for table in tables:
    print(table)
    print("-----------")
    
    # get columns
    columns = inspector.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])

    print()

showings
-----------
title TEXT
park TEXT
date TEXT
rating TEXT
cc TEXT
location.latitude FLOAT
location.longitude FLOAT
datayear BIGINT
day TEXT
address TEXT
community TEXT
geocode_address TEXT
datamonth BIGINT

In [4]:
#user selection, FILTER clause
user_selection = "Most Loved" #default selection
if user_selection == "Most Loved":
    filter_clause = "COUNT(title) >= 20"
elif user_selection == "Highly Acclaimed":
    filter_clause = "COUNT(title) >= 15 and COUNT(title) < 20"
elif user_selection == "Popular":
    filter_clause = "COUNT(title) >= 10 and COUNT(title) <15"
elif user_selection == "Cult Favorites":
    filter_clause ="COUNT(title) >= 2 and COUNT(title) <10"
else:
    user_selection == "One Timers"
    filter_clause = "COUNT(title) = 1"
#query
query_movies = f"""
    SELECT
         Count(title) AS "Plays", title AS "Movie"
    FROM
        showings
    GROUP BY
        Movie
    HAVING
        {filter_clause}
    ORDER BY
    	Plays DESC;
    """
# execute query
df = pd.read_sql(text(query_movies), con=engine)
df.head(15)

   Plays                           Movie
0     26                  The Lego Movie
1     26  Jumanji: Welcome to the Jungle
2     22                            Sing
3     22                            Coco